<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleman Bros Invoice Email</title>
</head>
<body>
<table style="font-size: 14px; font-family: 'Courier New', Courier, monospace" width="100%" cellpadding="2"
       cellspacing="10" border="0">
    <thead>
    <tr>
        <td>
            This is a test email send by smptymailer
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            it has a unique id of {{unique_id}}
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
