beautifulsoup4==4.12.3
cryptography==42.0.1
dmarc==1.0.3
dnspython==2.5.0
email-validator==2.1.0.post1
html2text==2020.1.16
pillow==10.2.0
pydig==0.4.0
pytest==8.0.0
python-dotenv==1.0.1
requests==2.31.0
validators==0.22.0
python-magic==0.4.27
jinja2==3.0.3
